#footer{
     background: linear-gradient( black,rgb(37, 1, 87));
     height: 100%;
}
.footer{ 
     margin: auto;
     display: flex;
     justify-content: space-between;
}
.footer img{
     width: 100%;
}
.footerchild{
     position: absolute;
     bottom: -90px;
     left: 40%;
     display: block;
}
.footerchild1{
     display: flex;
}
.footerchild1 i{
     padding: 25px 16px;
     color: white;
     font-size: 2.3rem;
}
.footerchild2{
     display: flex;
}
.footerchild2 a{
     padding: 0 12px;
     color: white;
     margin-left: 29px;
}