.home{
     background: linear-gradient(rgb(37, 1, 87),black);
     height: 700px;
}
.heading{
     padding-top:3em;
     margin:  auto;
     justify-content: center;
     display: flex;
}
.heading img{
     width: 70px;
     padding-top: 2em;
     height: 70px;
     animation-name: updown;
     animation-duration: 3s;
     animation-iteration-count: infinite;
}
.heading h1{
     padding: 6px 60px;
     color: white;
     font-size: 6em;
}
@keyframes updown{
     0%{
          transform: translateY(25px);
     }
     50%{
          transform: translateY(-9px);
     }
     100%{
          transform: translateY(25px);
     }
}
.heading2 h1{
     margin-top: -2rem;
     padding: 6px 60px;
     text-align: center;
     font-size: 6em; 
     background: linear-gradient(57deg, #00dbe0, #fc00ff);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}
.heading3{
     margin: 3em 0;
    justify-content: center;
     display: flex;
}
.heading3 img{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100px;
     margin: 0 auto;
}

.homechild{
     text-align: center;
     margin: 0 4em;
     display: block;
}
.homechild h2{
     color: white;
}
.homechild h2 span{
     color: red;
}
.homechild p{
     color: white;
}









#footer{
     background: linear-gradient( black,rgb(37, 1, 87)); 
}
.footer{ 
     margin: auto;
     display: flex;
     justify-content: space-between;
}
.footer img{
     width: 100%;
}
.footerchild{
     position: absolute;
     bottom: -250px;
     left: 40%;
     display: block;
}
.footerchild1{
     display: flex;
}
.footerchild1 i{
     padding: 25px 16px;
     color: white;
     font-size: 2.3rem;
}
.footerchild2{
     display: flex;
}
.footerchild2 a{
     padding: 0 12px;
     color: white;
     margin-left: 29px;
}