
@media (max-width:1150px) {
     .heading h1{
          font-size: 4em;
     }
     .heading2 h1{
         font-size: 4em;
     }
     .heading3 img{
          width: 80px;
     }
     
     .homechild{
          margin: 0 1em;
     }
     .footerchild{
          bottom: -250px;
     }
}