.join{
     background: linear-gradient(rgb(37, 1, 87), black);
     height: 100%;
}
.joinheding3 p{
     font-size: 1.6rem;
     color: white;
     text-align: center;
}
.joinbtn{
     color: white;
     border-radius: 20px;
     padding: 15px;
     font-size: 1.4rem;
     border: none;
     background: linear-gradient(rgb(37, 56, 198), rgb(217, 33, 245));
}