.join {
     background: linear-gradient(rgb(37, 1, 87), black);
     height: 100vh;
     padding-top: 80px;
}

.joinheding3 p {
     font-size: 1.6rem;
     color: white;
     text-align: center;
     margin-top: 2em;
}

.joinbutton {
     margin-top: 2em;
     padding-bottom: 2em;
     display: flex;
     justify-content: center;
     align-items: center;
}

.joinbtn {
     margin: 40px 0 20px 0;
     color: white;
     border-radius: 40px;
     padding: 15px 25px;
     font-size: 1.4rem;
     border: none;
     background: linear-gradient(140deg,rgb(37, 56, 198), rgb(217, 33, 245));
     cursor: pointer;
}


.joinheading {
     padding-top: 3em;
     margin: auto;
     justify-content: center;
     display: flex;
}

.joinheading img {
     width: 70px;
     padding-top: 2em;
     height: 70px;
     animation-name: updown;
     animation-duration: 3s;
     animation-iteration-count: infinite;
}

.joinheading h1 {
     padding: 6px 60px;
     color: white;
     font-size: 6em;
}

@keyframes updown {
     0% {
          transform: translateY(25px);
     }

     50% {
          transform: translateY(-9px);
     }

     100% {
          transform: translateY(25px);
     }
}

.joinheading2 h1 {
     margin-top: -2rem;
     padding: 6px 60px;
     text-align: center;
     font-size: 6em;
     background: linear-gradient(57deg, #00dbe0, #fc00ff);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}


#footer {
     background: linear-gradient(#0b0618, rgb(37, 1, 87));
}

.footer {
     margin: auto;
     display: flex;
     justify-content: space-between;
}

.footer img {
     width: 100%;
}

.footerchild {
     position: absolute;
     bottom: -200px;
     left: 40%;
     display: block;
}

.footerchild1 {
     display: flex;
}

.footerchild1 i {
     padding: 25px 16px;
     color: white;
     font-size: 2.3rem;
}

.footerchild2 {
     display: flex;
}

.footerchild2 a {
     padding: 0 12px;
     color: white;
     margin-left: 29px;
}


@media(max-width:900px){
     .joinheading h1 {
          padding: 6px 60px;
          color: white;
          font-size: 4em;
     }
     .joinheading2 h1 {
          margin-top: -2rem;
          margin-bottom: 2rem;
          padding: 6px 60px;
          text-align: center;
          font-size: 4em;
     }
     .joinheading img {
          width: 50px;
          padding-top: 2em;
          height: 50px;
     }
      
}

@media(max-width:670px){
     .joinheading h1 {
          padding: 6px 60px;
          font-size: 2.8em;
     }
     .joinheading2 h1 {
          margin-top: -1.5rem;
          margin-bottom: 2rem;
          font-size: 2.8em;
     }
     .joinheading img {
          width: 40px;
          padding-top: 2em;
          height: 40px;
     }
     .joinheding3 p {
          font-size: 1.3rem;
     }
     .joinbtn {
          font-size: 1.1rem;
     }
}

@media(max-width:485px){
     .joinheading h1 {
          padding: 6px 25px;
          font-size: 1.8em;
          margin-top: 10px;
     }
     .joinheading2 h1 {
          padding: 6px 25px;
          margin-top: -1.5rem;
          margin-bottom: 2rem;
          font-size: 1.8em;
     }
     .joinheding3 p {
          font-size: 1.1rem;
          padding: 0 10px;
     }
}