.market {
     background-color: #04050d;
     height: 100%;
     padding-bottom: 90px;
}

.market h1 {
     color: #ffffff;
     width: 75%;
     padding-top: 1em;
     margin: 0 auto 1em auto;
     font-weight: 400;
}

.tableheading {
     padding: 0 10px;
     background: linear-gradient(140deg, rgb(42, 97, 249), rgb(219, 56, 255));
     margin: 0 auto;
     width: 75%;
     display: flex;
     justify-content: space-between;
     border-radius: 20px 20px 0 0;
}

.tableheading ol {
     font-size: 1.5rem;
     color: white;
     padding: 10px 15px;
}

.tableheading ol:nth-child(2) {
     margin-left: 60px;
}

.tablebody {
     padding: 0 10px;
     border-bottom: 2px solid white;
     margin: 0 auto;
     width: 75%;
     display: flex;
     justify-content: space-between;
}
.tablebody:hover{
     background-color: #191d31;
     cursor: pointer;
}

.tablebody ol {
     font-family: ' sans-serif';
     font-size: 1.5rem;
     color: white;
     padding: 20px 10px ;
     justify-content: center;
     align-items: center;
     display: flex;
}

.tablebody img {
     margin-right: 12px;
     width: 40px;
}
.pages{
     display: flex;
     justify-content: center;
     margin: 2em 2px;
}
.pages li a{
     color: #000000;
     padding: 10px 16px;
     margin: 2rem 18px;
     font-weight: bold;
     font-size: 19px;
     border-radius: 50%;
     background-color: #fff;
}
.pages li a:hover{
     background:linear-gradient(140deg,rgb(43, 110, 255),rgb(218, 36, 255));
     color: #f2f2f2;
}
