@media (max-width:1150px){
     .market h1 {
          width: 85%;
     }
     .tableheading {
          width: 85%;
     }
     
     .tablebody {
          width: 85%;
     }
}

@media (max-width:750px){
     .market h1 {
          text-align: center;
     }
     .table{
          width: 92%;
          margin: 0 auto;
          overflow-x: auto;
     }
     .tableheading ol{
          padding-left: 40px;
          padding-right: 40px;
     }
     .tablebody ol{
          padding: 20px 35px;
     }
     .tableheading ol:nth-child(1){
          padding-left: 10px;
     }
     .tablebody ol:nth-child(1){
          padding-left: 10px;
     }
     .tableheading {
          width: fit-content;
     }
     
     .tablebody {
          padding: 0;
          width: fit-content;
     }
}

@media (max-width:500px){
     .market h1 {
          font-size: 1.7rem;
     }
     .pages li a{
          margin: 2rem 9px;
          font-size: 1rem;
          padding: 8px 14px;
     }
}