.why {
     background: linear-gradient(rgb(37, 1, 87), black);
     height: 100%;
}

.why h1 {
     font-size: 4.5em;
     text-align: center;
     color: white;
     margin-bottom: 1rem;
     padding: 3rem;
}

.why h1 span {
     background: linear-gradient(57deg, #007be0, #fc00ff);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}

#maincontainer {
     display: flex;
     width: 86%;
     margin: 0 auto;
}

.childcontainer img {
     margin: 0 2rem;
     width: 400px;
     animation-name: updown;
     animation-duration: 3s;
     animation-iteration-count: infinite;
}
@keyframes updown{
     0%{
          transform: translateY(25px);
     }
     50%{
          transform: translateY(-9px);
     }
     100%{
          transform: translateY(25px);
     }
}

.child {
     border-radius: 20px;
     border: 2px solid rgb(42, 42, 42);
     background-color: rgb(19, 7, 39);
     display: flex;
     padding: 29px;
     margin: 30px 10px;
     color: white;
}

.child2 {
     text-align: left;
     margin-left: 30px;
     display: block;
}

.child i {
     border-radius: 10px;
     padding: 15px;
     font-size: 2rem;
     color: white;
     background: linear-gradient(57deg, #007be0, #fc00ff);
}
.child2 h2{
     padding-bottom: 9px;
}
.child2 p{
   font-size: 19px;  
}