@media (max-width:1200px) {
     .why {
          padding-bottom: 30px;
     }

     #maincontainer {
          display: block;
          width: 86%;
          margin: 0 auto;
     }

     .childcontainer img {
          margin: 0 auto;
          width: 350px;
          display: block;
     }
}

@media (max-width:800px) {

     .childcontainer img {
          margin: 0 auto;
          width: 250px;
          display: block;
     }

     .why h1 {
          font-size: 3em;
     }
}


@media (max-width:500px) {
     .why h1 {
          font-size: 2em;
     }
     .child {
          display: block;
     }
     .child i {
          margin: 4px auto 1.4rem auto;
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
     }
     .child2 {
          text-align: center;
          margin: 0;
     }
}

@media (max-width:400px) {
     .childcontainer img {
          width: 180px;
     }
     .child{
         padding: 29px 16px;
     }
     .child i {
          padding: 15px 2px;
          font-size: 1.8rem;
     }
     .child2 h2{
          font-size: 1.3rem;
     }
     .child2 p{
          font-size: 16px;
     }
}